*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background: #313D52;
}

.superior{
	width: 100%;
	margin: 0px auto;
	background: white;
	padding: 0px;

}
.superior ul{
	list-style: none;

}

#logo{
	padding: 4px 4px;
	margin: 5px 20px;
}

#btn_registroDeUsuarios	{
	padding: 3px 8px;
	font-weight:600 ;
	border-radius: 15px;
	border: 2px solid #313D52;
	float: right;
	line-height: 30px;
	margin: 4px 30px;
	background: white;	
}

#btn_registroDeUsuarios a{
	font-size: 16px;
	text-decoration: none;
	color: #313D52;
	background-color:white ;
}

#btn_registroDeUsuarios a:hover{
    color: green;
	transition: all .6s;
}


.navegacion{
	width: 100%;
	margin: 0px auto;
	background: white;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block; 
	padding: 15px 20px;
	color:#353535 ;
	font-family: Arial;
	text-decoration:none ;
}

.menu li a:hover{
	color: red;
	transition: all .3s;
}

.submenu{
	position: absolute;
	background: #333333;
	width: 110%;
	display: none;
}

.submenu li a{

	display: block;
	padding: 15px;
	color: #fff;
	font-family: Arial;
	text-decoration: none;
}

.menu li:hover .submenu{
	display: block;
}

#registrar_usuario_form{
	padding: 15px 20px;
	background: white;
	width: 25%;
	margin: 15% auto;
}

#registrar_usuario_form label{

	color: black;
}

